<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body ">
                {% if document.haveChangedCompanyDetails and document.id %}
                    <p class="alert alert-warning" role="alert">
                        {{ ('document.changed_company_details'|trans({'%url%': path('document_reload', {'id': document.id }) }))|raw }}
                    </p>
                {% endif %}

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.companyName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(form.companyPhoneNumber) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.companyFaxNumber) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.companyVatNumber) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.companyFiscalCode) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(form.companyAddress) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.companyCity) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_row(form.companyZipCode) }}
                    </div>
                    <div class="col-md-1">
                        {{ form_row(form.companyProvince) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.companyCountry) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.companyAddress) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.companyAddressNotes) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.companyLogo) }}
                        {% if form.deleteCompanyLogo is defined %}
                            <img src="{{ form.vars.data.companyLogoWebPath | imagine_filter('logo_thumb') }}"/>
                            {{ form_row(form.deleteCompanyLogo) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
