{% form_theme form 'AppBundle:Product:widgets.html.twig' %}

{{ form_start(form) }}

<div class="row">
    {% if app.user.isSuperadmin %}
        <div class="col-md-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'fields.superadmin_details'|trans }}</h2>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.company) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body ">
                {{ form_errors(form, { global_errors: true }) }}

                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.code) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.name) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.unitPrice) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.measureUnit) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.taxRate) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.tags) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.description) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.internalNotes) }}
                    </div>
                </div>

                {% if form.enabledInWarehouse is defined %}
                    <div class="row warehouse">
                        <div class="col-md-4">
                            {{ form_row(form.enabledInWarehouse) }}
                        </div>
                        <div class="col-md-4 stock">
                            {{ form_row(form.initialStock) }}
                        </div>
                        <div class="col-md-4 stock">
                            {{ form_row(form.currentStock) }}
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{{ form_row(form.attachments) }}

<div class="form-actions">
    {{ form_widget(form.save) }}
    {{ form_widget(form.saveAndClose) }}
</div>

{{ form_end(form) }}
