{% extends '::one-column.html.twig' %}

{% block main_content %}
    <div class="col-md-12 col-lg-push-3 col-lg-6">
        <h1>{{ 'reset_password.reset'|trans }}</h1>

        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_errors(form, { global_errors: true }) }}

                {{ form_widget(form) }}

                {{ form_rest(form) }}
            </div>
        </div>

        <button class="reset-password btn btn-primary" type="submit">{{ 'actions.reset_password'|trans }}</button>
    </div>

    {{ form_end(form) }}
{% endblock main_content %}
