{% extends '::form.html.twig' %}

{% block main_content %}
    {% set workingNote = form.vars.data %}
    <h1> {{ 'working_note.edit'|trans({'%working_note%': workingNote }) }}
        <small class="pull-right">
            {{ format_view_link('working_note', workingNote, icon('eye')) }}
            {{ format_action_link('working_note', 'print', icon('print'), workingNote) }}
            {{ format_action_link('working_note', 'view', icon('cog'), workingNote, { routeParameters: { 'showAsHtml': 'true' }}) }}
        </small>
    </h1>

    {% include 'AppBundle:working_note:_form.html.twig' %}

{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}

    {% include 'AppBundle:working_note:_javascript.html.twig' %}
{% endblock javascripts %}

