<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-success">
            {{ 'demo.login.welcome'|trans }}
        </div>
    </div>

    <div class="col-xs-12 col-lg-6">
        <h1>{{ 'login.title'|trans }}</h1>

        {{ form_start(form, { 'action': path('login_check') }) }}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_errors(form, { global_errors: true }) }}

                {{ form_row(form._username) }}
                {{ form_row(form._password) }}

                {{ form_row(form._remember_me) }}

                <hr />

                {{ form_widget(form.login) }}

            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="row demo-credentials">
            <div class="col-xs-6 ">
                <h3>{{ 'fields.owner'|trans }}</h3>

                <div class="well">
                    <div><strong>{{ 'fields.email'|trans }}:</strong> {{ demo_credentials.owner.email }}</div>
                    <div><strong>{{ 'fields.password'|trans }}:</strong> {{ demo_credentials.owner.password }}</div>
                </div>
            </div>

            <div class="col-xs-6 ">
                <h3>{{ 'fields.manager'|trans }}</h3>

                <div class="well">
                    <div><strong>{{ 'fields.email'|trans }}:</strong> {{ demo_credentials.manager.email }}</div>
                    <div><strong>{{ 'fields.password'|trans }}:</strong> {{ demo_credentials.manager.password }}</div>
                </div>
            </div>

            <div class="col-xs-6 ">
                <h3>{{ 'fields.accountant'|trans }}</h3>

                <div class="well">
                    <div><strong>{{ 'fields.email'|trans }}:</strong> {{ demo_credentials.accountant.email }}</div>
                    <div><strong>{{ 'fields.password'|trans }}:</strong> {{ demo_credentials.accountant.password }}</div>
                </div>
            </div>

            <div class="col-xs-6 ">
                <h3>{{ 'fields.sales_agent'|trans }}</h3>

                <div class="well">
                    <div><strong>{{ 'fields.email'|trans }}:</strong> {{ demo_credentials.sales_agent.email }}</div>
                    <div><strong>{{ 'fields.password'|trans }}:</strong> {{ demo_credentials.sales_agent.password }}</div>
                </div>
            </div>
        </div>
    </div>
</div>