{% extends '::two-columns.html.twig' %}

{% block main_content %}
    <h1>{{ 'company.view'|trans({'%company%': company} ) }}</h1>

    <div class="row">
        {% if app.user.isSuperadmin %}
            <div class="col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'fields.superadmin_details'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                {{ company.owner }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'company.contact_details'|trans }}</h2>
                </div>
                <ul class="panel-body list-unstyled">
                    <li>{{ 'fields.vat_number'|trans }}: {{ company.vatNumber }}</li>
                    <li>{{ 'fields.fiscal_code'|trans }}: {{ company.fiscalCode }}</li>
                    <li>
                        {% if company.hasLogoUrl %}
                            <img src="{{ asset('company.logoWebPath') }}"/>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'company.address_details'|trans }}</h2>
                </div>
                <ul class="panel-body list-unstyled">
                    <li>{{ 'fields.phone_number'|trans }}: {{ company.phoneNumber }}</li>
                    <li>{{ 'fields.fax_number'|trans }}: {{ company.faxNumber }}</li>
                    <li>{{ 'fields.address'|trans }}: {{ company.address }}</li>
                    <li>{{ 'fields.city'|trans }}: {{ company.city }}</li>
                    <li>{{ 'fields.province'|trans }}: {{ company.province }}</li>
                    <li>{{ 'fields.zip_code'|trans }}: {{ company.zipCode }}</li>
                    <li>{{ 'fields.country'|trans }}: {{ company.country }}</li>
                    <li>{{ 'fields.address_notes'|trans }}: {{ company.addressNotes }}</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock main_content %}