{% form_theme form 'AppBundle:ParagraphTemplate:widgets.html.twig' %}

{{ form_start(form) }}

<div class="panel panel-default">
    <div class="panel-body ">
        {{ form_errors(form, { global_errors: true }) }}

        <div class="row">
            <div class="col-xs-10">
                {{ form_row(form.title) }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.description) }}
            </div>
        </div>

        {{ form_widget(form.children) }}
    </div>
</div>

<div class="form-actions">
    {{ form_widget(form.save) }}
    {{ form_widget(form.saveAndClose) }}
</div>

{{ form_end(form) }}

