{% extends 'two-columns.html.twig' %}

{% block main_content %}
    <h1>
        {{ title|trans }}

        <small class="pull-right">
            <a title="{{ 'filter.show'|trans }}" aria-expanded="false" data-toggle="collapse"
               href="#filter">{{ icon('search') }}</a>
        </small>
    </h1>

    {{ filter_start(filterForm) }}
    {% include 'document_type/_filter.html.twig' with {'form': filterForm, 'route': route} %}
    {{ filter_end(filterForm) }}

    {% include 'document_type/_list.html.twig' with {'pagination': pagination, 'type' : type} %}

{% endblock main_content %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/filter.css') }}" rel="stylesheet" media="screen">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/filter.min.js') }}"></script>

    {% include 'default/_delete_js.html.twig' with { message: 'document.delete_confirmation' } %}

    <script>
        $(function () {
            $('.popover-trigger').popover({
                html: true,
                trigger: 'hover',
                placement: 'top'
            });
        });
    </script>
{% endblock %}