{% extends '::two-columns.html.twig' %}

{% block main_content %}
    <h1>{{ 'change_password.title'|trans }}</h1>

    {{ form_start(form) }}
    <div class="panel panel-default">
        <div class="panel-body ">
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.currentPassword) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.newPassword) }}
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        {{ form_widget(form.save) }}
    </div>

    {{ form_end(form) }}
{% endblock main_content %}
