{% extends 'two-columns.html.twig' %}

{% import _self as macro %}

{% macro print_companies(label, companies) %}
    {% if companies|length > 0 %}
        <dt>{{ label|trans }}:</dt>
        <dd>
            {% for company in companies %}
                <a href="{{ path('company_edit', {'id': company.id }) }}"
                   title="{{ 'company.edit'|trans({'%company%': company}) }}">{{ company }}</a>
            {% endfor %}
        </dd>
    {% endif %}
{% endmacro %}

{% block main_content %}
    <h1>{{ 'users.title'|trans }}</h1>

    {% if pagination|length > 0 %}
        <table id="users" class="table">
            <thead>
            <tr>
                <th class="col-md-2">{{ knp_pagination_sortable(pagination, 'sort.email'|trans, 'user.email') }}</th>
                {% if app.user.isSuperadmin %}
                    <th class="col-md-5 text-center">{{ 'sort.company'|trans }}</th>
                {% endif %}
                <th class="col-md-1 text-center">{{ 'sort.enabled'|trans }}</th>
                <th class="col-md-4">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr class="user {{ user.isSuperadmin ? 'superadmin' : user.isOwner ? 'owner' : '' }} {{ user.enabled ? '' : 'inactive' }}">
                    <td class="email col-md-{{ app.user.isSuperadmin ? 4 : 7 }}">
                        {% if is_granted('USER_EDIT', user) %}
                            <a href="{{ app.user.sameAs(user) ? path('profile_edit') : path('user_edit', {'id': user.id }) }}"
                               title="{{ 'user.edit'|trans({'%user%': user}) }}">{{ user }}</a>
                        {% else %}
                            {{ user }}
                        {% endif %}
                    </td>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td>
                            <dl class="dl-horizontal">
                                {% if user.isSuperAdmin %}
                                    <dt>{{ 'role.super_admin'|trans }}</dt>
                                {% else %}
                                    {{ macro.print_companies('fields.owner', user.ownedCompanies) }}
                                    {{ macro.print_companies('fields.manager', user.managedCompanies) }}
                                    {{ macro.print_companies('fields.sales_agent', user.marketedCompanies) }}
                                    {{ macro.print_companies('fields.accountant', user.accountedCompanies) }}
                                {% endif %}
                            </dl>
                        </td>
                    {% endif %}

                    <td class="text-center">
                        {{ user.enabled ? icon('check') : icon('ban') }}
                    </td>

                    <td class="text-right">
                        {% if is_granted('USER_EDIT', user) %}
                            <a class="edit btn btn-xs btn-default"
                               href="{{ app.user.sameAs(user) ? path('profile_edit') : path('user_edit', {'id': user.id }) }}"
                               title="{{ 'user.edit'|trans({'%user%': user }) }}">{{ icon('pencil') }}</a>
                        {% else %}
                            <a class="btn btn-xs btn-default" disabled="disabled"
                               href="#"
                               title="{{ 'user.edit'|trans({'%user%': user }) }}">{{ icon('pencil') }}</a>
                        {% endif %}

                        {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                            {% if is_granted('USER_IMPERSONATE', user) %}
                                <a class="impersonate btn btn-xs btn-default"
                                   href="{{ path('dashboard') }}?_switch_user={{ user.email }}"
                                   title="{{ 'user.impersonate'|trans({'%user%': user}) }}">{{ icon('user') }}</a>
                            {% else %}
                                <a class="btn btn-xs btn-default" disabled="disabled"
                                   href="#"
                                   title="{{ 'user.impersonate'|trans({'%user%': user}) }}">{{ icon('user') }}</a>
                            {% endif %}
                        {% endif %}

                        {% if is_granted('USER_DELETE', user) %}
                            <a class="delete btn btn-xs btn-default text-danger"
                               href="{{ path('user_delete', {'id': user.id }) }}"
                               title="{{ 'user.delete'|trans({'%user%': user }) }}">{{ icon('trash') }}</a>
                        {% else %}
                            <a class="btn btn-xs btn-default text-danger" disabled="disabled"
                               href="#"
                               title="{{ 'user.delete'|trans({'%user%': user }) }}">{{ icon('trash') }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination) }}
    {% else %}
        <p class="empty-list">
            {{ 'users.empty_list'|trans }}
        </p>
    {% endif %}

    {{ format_create_link('user') }}
{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}

    {% include 'default/_filter_js.html.twig' %}

    {% include 'default/_delete_js.html.twig' with { message: 'user.delete_confirmation' } %}
{% endblock javascripts %}
